/*Css file imports*/
@import url(css/header.css);
@import url(css/footer.css);
@import url(css/hero.css);
@import url(css/locations.css);
@import url(css/menu.css);
@import url(css/popular.css);
@import url(css/trending.css);
@import url(css/cursor.css);
@import url(css/checkout.css);
@import url(css/basket.css);
@import url(css/about.css);
@import url(css/catering.css);
@import url(css/swiper.css);
/* Font Import*/

@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Protest+Revolution&display=swap')

;root {
    --protest-revolution: "Protest Revolution", sans-serif;
    --annapurna: "Annapurna", sans-serif;
    --neuton: "Neuton", serif;
  
    --primary-color: #B50721;
    --secondary-color: #F0A202;
    --third-color-blvck: #0B0C0C;
    --color-white: #fff;
    --color-creamson: #fff0de;
  
}




