/*Css file imports*/
@import url(src/css/header.css);
@import url(src/css/hero.css);
@import url(src/css/locations.css);
@import url(src/css/menu.css);
@import url(src/css/popular.css);
@import url(src/css/trending.css);
@import url(src/css/checkout.css);
@import url(src/css/basket.css);
@import url(src/css/about.css);
@import url(src/css/catering.css);
@import url(src/css/trending.css);
@import url(src/css/footer.css);
@import url(src/css/checkout.css);
@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Revolution&display=swap');

;root {
    --protest-revolution: "Protest Revolution", sans-serif;
    --annapurna: "Annapurna", sans-serif;
    --neuton: "Neuton", serif;
    --playfair-display: "Playfair Display", sans-serif;
  
    --primary-color: #B50721;
    --secondary-color: #F0A202;
    --third-color-blvck: #0B0C0C;
    --color-white: #fff;
    --color-creamson: #fff0de;
  
}




