.about-us{
    display: flex;
    min-height: 720px;
    overflow: hidden;
}

.about-us__image{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0A202;

    position: relative;
}

.about-us__image div{
    padding: 32px 64px;
    flex: 1;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-us__image-sushi-clip-1{
    background-image: url("../assets/about_bg1.png");
}

.about-us__image-sushi-clip-2{
    background-image: url("../assets/about_bg2.png");
}

.about-us__description{
    flex: 1;
    display: flex;
}

.about-us__button{
    position: absolute;
    right: 0;
    padding: 12px 32px;
    min-height: 64px;
    background-color: black;
    border-radius: 32px 0 0 32px;
    border: 0;
    outline: 0;
    color: white;
    font-family: "Neuton", serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}


.about-us__button a{
    text-decoration: none;
    color: #fff;
}

.about-us__button img{
    object-fit: contain;
    margin-left: 44px;
}

.about-us__content{
    padding: 64px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #B50721;
}

.about-us__subtitle{
    font-size: 18px;
    font-weight: 400;
    font-family: "Playfair Display", sans-serif;
    color: #F0A202;
    opacity: 0.8;
    letter-spacing: -0.01em;
}

.about-us__title{
    font-size: 64px;
    font-weight: 600;
    font-family: "Protest Revolution", sans-serif;
    margin-top: 16px;
    color: #F0A202;
}

.about-us__description{
    font-size: 28px;
    font-family: "Neuton", serif;
    font-weight: 400;
    color: #F0A202;
}
