@import url('https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,700,900');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');



.nav-checkout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-checkout ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}

.nav-checkout a{
    text-decoration: none;
    color: #F0A202;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 20px;
    gap: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

body {
  background-color: #F0A202;
}

#form-wrapper {
  background-color: #b50721;
  margin: auto;
  margin-top: 100px;
  width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #F0A202;
}

#header {
  background-color: black;
  border-radius: 10px 10px 0px 0px;
  border: #F0A202 solid 1px;
}

h1 {
  color: #F0A202;
  font-family: 'Protest Revolution', sans-serif;
}

h5 {
  color: #F0A202;
  justify-content: center;
  align-items: center;
  font-family: 'Reem Kufi Fun', sans-serif;
}

i {
  color: #F0A202;
}

button i {
  color: white;
}

hr {
  border-color: #E6C9AC;
}

button {
  background-color: #F0A202 !important;
  color: black;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #F0A202;
  margin-top: 8px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Protest Revolution', sans-serif;
  font-weight: 800;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  display: inline;
}

.text-center {
  text-align: center;
}

.payment-icons {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

mb-1 {
  margin-bottom: 1rem;
  font-family: 'Reem Kufi Fun', sans-serif;
}

.checkout-entry {
  display: flex;
  gap: 20px;
  font-family: 'Reem Kufi Fun', sans-serif;
  color: #F0A202;
  margin-top: 3px;
}

.checkout-entry input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #F0A202;
}

.col{
  margin-top: 20px;
}

.form-control{
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #F0A202;
}

#ccv{
  margin-top: 20px;
}

mb-1{
  margin-right: 10px;
}

.lock-image{
  width: 6px;
  height: 6px;
  margin-bottom: 0;
  margin-top: 50px;
}
